In [1]:
import pandas as pd

import scraper

In [2]:
#df = pd.read_csv('data/statcast_dumps/statcast2019.csv')

In [3]:
#stats = df.dropna(subset=['events'])
statcast_file = 'data/statcast_dumps/statcast2020.csv'
scraper.update_statcast(statcast_file)
stats = pd.read_csv(statcast_file).dropna(subset=['events'])
#stats.drop()
stats.head()

NameError: name 'datetime' is not defined

In [4]:
id_map = pd.read_csv('data/id_map.csv', engine='python')
#id_map.set_index('mlb_id')
ary = dict(zip(id_map['mlb_id'],id_map['mlb_name']))

stats['Name'] = stats['batter'].map(ary)#apply(lambda x: ary[x])

In [5]:
bb_stats = ['Name','batter','hc_x','hc_y','launch_angle','launch_speed','hit_distance_sc']
vladdy = stats[bb_stats].dropna()

In [14]:
def describe_guy(df, guy):
    out = df[df['Name'].str.startswith(guy)].describe()
    return out
name = 'Aaron Ju'
describe_guy(vladdy, name)

,batter,hc_x,hc_y,launch_angle,launch_speed,hit_distance_sc
count,43.0,43.000000,43.000000,43.000000,43.000000,43.000000
mean,592450.0,105.210698,99.872326,19.325581,92.625581,221.511628
std,0.0,48.776658,43.212635,22.666023,13.566662,144.370781
min,592450.0,5.980000,19.340000,-36.000000,60.800000,4.000000
25%,592450.0,67.405000,65.735000,5.000000,83.750000,104.500000
50%,592450.0,100.060000,104.310000,22.000000,93.900000,231.000000
75%,592450.0,131.505000,134.730000,35.500000,104.100000,324.000000
max,592450.0,207.340000,170.960000,57.000000,113.100000,468.000000

In [20]:
stats['description'].unique()
#stats['description']

array(['hit_into_play', 'swinging_strike_blocked', 'swinging_strike',
       'called_strike', 'hit_into_play_score', 'ball',
       'hit_into_play_no_out', 'hit_by_pitch', 'foul_tip', 'blocked_ball',
       'foul', 'foul_bunt', 'pitchout'], dtype=object)

In [17]:
def fibonaci(amount):
    n = 0
    seq = [1,1]
    while n <= amount:
        seq.append(seq[n]+seq[n+1])
        print(seq[n])
        n += 1
        

fibonaci(10)

1
1
2
3
5
8
13
21
34
55
89