In [1]:
import pandas as pd

In [2]:
#df = pd.read_csv('data/statcast_dumps/statcast2019.csv')

In [3]:
#stats = df.dropna(subset=['events'])

stats = pd.read_csv('data/statcast_dumps/statcast2020.csv').dropna(subset=['events'])
#stats.drop()
stats.head()

,Unnamed: 0,Unnamed: 0.1,index,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,...,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment
0,0,0.0,25,SL,2020-08-18,85.7,-0.753952,5.837731,Anthony Bass,592407.0,...,7.0,8.0,7.0,8.0,8.0,7.0,7.0,8.0,Infield shift,Standard
7,7,7.0,55,SI,2020-08-18,94.3,-0.744988,5.857906,Anthony Bass,656775.0,...,7.0,8.0,7.0,8.0,8.0,7.0,7.0,8.0,Infield shift,Standard
15,15,15.0,86,SL,2020-08-18,87.4,-0.590017,5.838491,Anthony Bass,593643.0,...,7.0,8.0,7.0,8.0,8.0,7.0,7.0,8.0,Standard,Standard
18,18,18.0,98,SL,2020-08-18,89.4,2.622580,5.632106,Tanner Scott,606192.0,...,7.0,8.0,8.0,7.0,8.0,7.0,8.0,7.0,Standard,Standard
23,23,23.0,120,SL,2020-08-18,90.2,2.807227,5.593052,Tanner Scott,605412.0,...,7.0,8.0,8.0,7.0,8.0,7.0,8.0,7.0,Strategic,Standard

In [4]:
id_map = pd.read_csv('data/id_map.csv', engine='python')
#id_map.set_index('mlb_id')
ary = dict(zip(id_map['mlb_id'],id_map['mlb_name']))

stats['Name'] = stats['batter'].map(ary)#apply(lambda x: ary[x])

In [5]:
bb_stats = ['Name','batter','hc_x','hc_y','launch_angle','launch_speed','hit_distance_sc']
vladdy = stats[bb_stats].dropna()

In [14]:
def describe_guy(df, guy):
    out = df[df['Name'].str.startswith(guy)].describe()
    return out
name = 'Aaron Ju'
describe_guy(vladdy, name)

,batter,hc_x,hc_y,launch_angle,launch_speed,hit_distance_sc
count,43.0,43.000000,43.000000,43.000000,43.000000,43.000000
mean,592450.0,105.210698,99.872326,19.325581,92.625581,221.511628
std,0.0,48.776658,43.212635,22.666023,13.566662,144.370781
min,592450.0,5.980000,19.340000,-36.000000,60.800000,4.000000
25%,592450.0,67.405000,65.735000,5.000000,83.750000,104.500000
50%,592450.0,100.060000,104.310000,22.000000,93.900000,231.000000
75%,592450.0,131.505000,134.730000,35.500000,104.100000,324.000000
max,592450.0,207.340000,170.960000,57.000000,113.100000,468.000000

In [20]:
stats['description'].unique()
#stats['description']

array(['hit_into_play', 'swinging_strike_blocked', 'swinging_strike',
       'called_strike', 'hit_into_play_score', 'ball',
       'hit_into_play_no_out', 'hit_by_pitch', 'foul_tip', 'blocked_ball',
       'foul', 'foul_bunt', 'pitchout'], dtype=object)

In [17]:
def fibonaci(amount):
    n = 0
    seq = [1,1]
    while n <= amount:
        seq.append(seq[n]+seq[n+1])
        print(seq[n])
        n += 1
        

fibonaci(10)

1
1
2
3
5
8
13
21
34
55
89