In [27]:
import pandas as pd

In [28]:
#df = pd.read_csv('data/statcast_dumps/statcast2019.csv')

In [29]:
#stats = df.dropna(subset=['events'])

stats = pd.read_csv('data/statcast_dumps/statcast2020.csv').dropna(subset=['events'])
#stats.drop()
stats.head()

,Unnamed: 0,index,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,...,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment
0,0,25,SL,2020-08-18,85.7,-0.753952,5.837731,Anthony Bass,592407.0,542914.0,...,7.0,8.0,7.0,8.0,8.0,7.0,7.0,8.0,Infield shift,Standard
7,7,55,SI,2020-08-18,94.3,-0.744988,5.857906,Anthony Bass,656775.0,542914.0,...,7.0,8.0,7.0,8.0,8.0,7.0,7.0,8.0,Infield shift,Standard
15,15,86,SL,2020-08-18,87.4,-0.590017,5.838491,Anthony Bass,593643.0,542914.0,...,7.0,8.0,7.0,8.0,8.0,7.0,7.0,8.0,Standard,Standard
18,18,98,SL,2020-08-18,89.4,2.622580,5.632106,Tanner Scott,606192.0,656945.0,...,7.0,8.0,8.0,7.0,8.0,7.0,8.0,7.0,Standard,Standard
23,23,120,SL,2020-08-18,90.2,2.807227,5.593052,Tanner Scott,605412.0,656945.0,...,7.0,8.0,8.0,7.0,8.0,7.0,8.0,7.0,Strategic,Standard

In [49]:
id_map = pd.read_csv('data/id_map.csv', engine='python')
#id_map.set_index('mlb_id')
ary = dict(zip(id_map['mlb_id'],id_map['mlb_name']))

stats['Name'] = stats['batter'].map(ary)#apply(lambda x: ary[x])

In [53]:
bb_stats = ['Name','batter','hc_x','hc_y','launch_angle','launch_speed','hit_distance_sc']
vladdy = stats[bb_stats].dropna()

In [62]:
name = 'Danny Jan'good mountain bike videos
vladdy[vladdy['Name'].str.startswith(name)].describe()

,batter,hc_x,hc_y,launch_angle,launch_speed,hit_distance_sc
count,35.0,35.000000,35.000000,35.000000,35.000000,35.000000
mean,643376.0,125.399429,109.588286,23.685714,83.565714,215.714286
std,0.0,40.987387,45.712372,27.529419,18.609263,125.940362
min,643376.0,42.030000,25.860000,-77.000000,19.800000,2.000000
25%,643376.0,101.600000,80.130000,13.500000,76.800000,118.000000
50%,643376.0,132.460000,106.940000,25.000000,86.300000,244.000000
75%,643376.0,156.190000,144.565000,38.000000,96.000000,300.000000
max,643376.0,193.350000,197.800000,72.000000,104.900000,427.000000

       batter  hc_x  hc_y  launch_angle  launch_speed  hit_distance_sc
count     1.0   1.0   1.0           1.0           1.0              1.0
mean      0.0   0.0   0.0           0.0           0.0              0.0
std       NaN   NaN   NaN           NaN           NaN              NaN
min       0.0   0.0   0.0           0.0           0.0              0.0
25%       0.0   0.0   0.0           0.0           0.0              0.0
50%       0.0   0.0   0.0           0.0           0.0              0.0
75%       0.0   0.0   0.0           0.0           0.0              0.0
max       0.0   0.0   0.0           0.0           0.0              0.0